In [1]:
import pandas as pd
from sklearn.datasets import load_iris
from google.colab import drive

drive.mount('/content/drive')
directory= '/content/drive/MyDrive/winequality-red.csv'

iris = pd.read_csv(directory)

Mounted at /content/drive

In [2]:
iris.info()

iris.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
from sklearn.model_selection import train_test_split
x = iris.drop('quality', axis=1)
y = iris['quality']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=100)

In [4]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=40)
dtc.fit(x_train, y_train)

y_pred = dtc.predict(x_test)

In [5]:
iris.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
from sklearn.tree import DecisionTreeClassifier
tree_model = DecisionTreeClassifier()

tree_model = tree_model.fit(x_train, y_train)

In [7]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

y_pred = tree_model.predict(x_test)

acc_score = round(accuracy_score(y_pred, y_test),40 )

print('Accuracy : ', acc_score)
print('classification report')
print(classification_report(y_pred, y_test))

Accuracy :  0.6229166666666667
classification report
              precision    recall  f1-score   support

           3       0.00      0.00      0.00         3
           4       0.12      0.11      0.11        19
           5       0.69      0.69      0.69       203
           6       0.65      0.64      0.65       194
           7       0.53      0.53      0.53        59
           8       0.00      0.00      0.00         2

    accuracy                           0.62       480
   macro avg       0.33      0.33      0.33       480
weighted avg       0.62      0.62      0.62       480

In [8]:
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = "quality.dot",
    feature_names = ['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide ','density ','pH','sulphates','alcohol'],
    class_names = ['1','2','3','4','5','6','7','8','9'],
    rounded = True,
    filled = True
)

In [9]:
from subprocess import check_call
check_call(['dot', '-Tpng', 'quality.dot','-o','winequality-red.png'])

0